<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.five.fiveblogger.dao.BloggerUserDao">
   
    <insert id="insertBloggerUser" parameterType="org.five.fiveblogger.model.BloggerUser">
        insert into blogger_user(user_id,user_name,user_password,email) values(#{userId},#{userName},#{password},#{email})
        <!-- 这里sql结尾不能加分号，否则报“ORA-00911”的错误 -->
    </insert>

    <!-- 这里的id必须和UserMapper接口中的接口方法名相同 -->
    <!-- 
    <select id="getBloggerUserById" resultType="org.five.fiveblogger.model.BloggerUser" parameterType="int">
        select * from blogger_user where user_id=#{userId}
    </select>
    
    <update id="updateBloggerUser" parameterType="org.five.fiveblogger.model.BloggerUser">  
         UPDATE blogger_user SET user_name=#{userName},user_password=#{password},email=#{email} WHERE user_id=#{userId}  
 	</update>
 	
 	<delete id="deleteBloggerUser" parameterType="int">  
	     DELETE FROM blogger_user WHERE user_id=#{userId}  
	</delete>
	 -->
</mapper>  