<!--三级菜单-->
<div class="span2 navbar">
  <div class="accordion" id="accordion-573090">
    <div class="accordion-group">
      <div class="accordion-heading"><a class="accordion-toggle" data-parent="#accordion-573090" data-toggle="collapse" href="#accordion-element-202080" contenteditable="true">体裁</a></div>

      <div class="accordion-body collapse" id="accordion-element-202080" style="height: 0px;">
        <div class="accordion-inner" contenteditable="true">小说</div>

        <div class="accordion-inner" contenteditable="true">文学</div>

        <div class="accordion-inner" contenteditable="true">科技</div>

        <div class="accordion-inner" contenteditable="true">古典</div>

        <div class="accordion-inner" contenteditable="true">传记</div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading"><a class="accordion-toggle collapsed" data-parent="#accordion-573090" data-toggle="collapse" href="#accordion-element-813150" contenteditable="true">时间 </a></div>

      <div class="accordion-body collapse" id="accordion-element-813150" style="height: 0px;">
        <div class="accordion-inner" contenteditable="true">从古到今</div>

        <div class="accordion-inner" contenteditable="true">从今到古</div>
      </div>
    </div>
  </div>
</div>
<!--三级内容-->
<div class="span9"  data-spy="scroll" data-target=".navbar">
  <div class="carousel slide" id="carousel-352565">
    <ol class="carousel-indicators">
      <li class="active" data-slide-to="0" data-target="#carousel-352565">&nbsp;</li>
      <li data-slide-to="1" data-target="#carousel-352565">&nbsp;</li>
      <li data-slide-to="2" data-target="#carousel-352565">&nbsp;</li>
    </ol>


  <h3>music</h3>
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <div class="caption" contenteditable="true">
          <h3>冯诺尔曼结构</h3>

          <p>也称普林斯顿结构，是一种将程序指令存储器和数据存储器合并在一起的存储器结构。程序指令存储地址和数据存储地址指向同一个存储器的不同物理位置。</p>

          <hr />
          <button class="btn-inverse" type="button">浏览</button>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption" contenteditable="true">
          <h3>哈佛结构</h3>

          <p>哈佛结构是一种将程序指令存储和数据存储分开的存储器结构，它的主要特点是将程序和数据存储在不同的存储空间中，进行独立编址。</p>

          <hr />
          <button class="btn-inverse" type="button">浏览</button>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption" contenteditable="true">
          <h3>改进型哈佛结构</h3>

          <p>改进型的哈佛结构具有一条独立的地址总线和一条独立的数据总线，两条总线由程序存储器和数据存储器分时复用，使结构更紧凑。</p>

          <hr />
          <button class="btn-inverse" type="button">浏览</button>
        </div>
      </div>
    </li>
  </ul>

</div>
